$font-stack:    Helvetica, sans-serif;
$standard-color: #bc9df2;
$reference-color: #898e93;
$standard-margin: auto;

@mixin text-style(){
    font: 100% $font-stack;
    margin: $standard-margin;
}

p {
    @include text-style();
    color: $standard-color; 
}

li a {
    @include text-style();
    color: $reference-color;
}