<div class="search-container">
  <div class="row">
    <div class="search-list-head">
      <input class="form-control" type="text" name="search" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search for a project id or name">
      </div>
        <div class="search-list-body">
          <table class="table">     
            <thead>
              <tr>
                <th (click)="projectSort('id')">id
                  <span class="glyphicon sort-icon" *ngIf="projectKey =='id'" [ngClass]="{'glyphicon-chevron-up':listReverse,'glyphicon-chevron-down':!listReverse}"></span>
                </th>
                <th (click)="projectSort('name')">name
                  <span class="glyphicon sort-icon" *ngIf="projectKey =='name'" [ngClass]="{'glyphicon-chevron-up':listReverse,'glyphicon-chevron-down':!listReverse}"></span>
                </th>              
              </tr>
                </thead>               
                <tbody>              
                    <tr *ngFor="let project of projects | orderBy: projectKey : listReverse | filterBy: projectFilter | paginate: { itemsPerPage: 15, currentPage: listPage }; let i = index">
                      <td><a routerLink='../project/{{project.id}}'>{{project.id}}</a></td>
                      <td>{{project.name}}</td>
                    </tr>
                    <tr *ngIf="(reloadedList$ && projects.length === 0)">No matching project</tr>
                    <tr *ngIf="(!reloadedList$ && projects==undefined)"><app-loader></app-loader></tr>                    
                </tbody>
                <tfoot></tfoot>                         
            </table>
          </div>
          <div class="search-list-control">
              <pagination-controls (pageChange)="listPage = $event"></pagination-controls> 
          </div> 
    </div>
</div>