<h1>{{title}}</h1>
<p>Test project:</p>
<ul>
  <li>
    id:  {{ currentProject.id }}
  </li>
  <li>
    title:  {{ currentProject.name }}
  </li>
  <button (click)="edit()" type="submit" class="btn btn-primary">Edit</button>
  <button type="submit" class="btn btn-primary" routerLink="../../testcases" [queryParams]="{projectId:currentProject.id}" routerLinkActive="active">View Testcases</button>
  <button type="submit" class="btn btn-primary" routerLink="../../testcase" [queryParams]="{projectId:currentProject.id}" routerLinkActive="active">Create Testcase</button>
</ul>