<div class="py-5 text-center">
  <h2>Project {{ currentProject.id }}</h2>
</div>
<div class="formblock">
  <form>
    <fieldset class="formsection">
      <legend class="mb-3"><b>Details</b></legend>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="project-name">Name</label>
          <input type="text" class="form-control" id="project-name" placeholder=" {{ currentProject.name }}" readonly>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 mb-3">
          <label for="project-description">Description</label>
          <textarea type="text" class="form-control" id="project-description" placeholder="{{ currentProject.description }}" readonly></textarea>
        </div>
      </div>
      <fieldset>
        <div>
          <button (click)="edit()" type="submit" class="btn btn-primary">Edit</button>  
        </div>
      </fieldset>
    </fieldset>
    
    <fieldset class="formsection">
      <legend class="mb-3"><b>Test cases</b></legend>
      <div class="row">      
        <button type="submit" class="btn btn-secondary" routerLink="../../testcases" [queryParams]="{projectId:currentProject.id}" routerLinkActive="active">View Testcases</button>   
        <button type="submit" class="btn btn-secondary" routerLink="../../testcase" [queryParams]="{projectId:currentProject.id}" routerLinkActive="active">Create Testcase</button>        
      </div>
    </fieldset>
  </form>
</div>