<ng-container *ngIf="area=='form'">
  <form [formGroup]="testcaseForm">
    <div class="form-group row">
      <div>
        <h3>{{testcaseFormLabel }}</h3>
        <div class="form-group">
          <label for="testcaseTitle">Title</label>
          <input formControlName="testcaseTitle" type="text" class="form-control" id="testcaseTitle" name="testcaseTitle" aria-describedby="titleHelp" placeholder="Enter a test case title">
          <small id="titleHelp" class="form-text text-muted">The test case name must be 8-20 characters long, and can contain letters, numbers, and spaces, but must not contain special characters, or emoji.</small>
          <div *ngIf="testcaseForm.controls['testcaseTitle'].errors && !testcaseForm.controls['testcaseTitle'].pristine" class="error-msg">
              <div [hidden]="!testcaseForm.controls['testcaseTitle'].errors.required">a title is required</div>
              <div [hidden]="!testcaseForm.controls['testcaseTitle'].errors.minlength">a title should contain minimum 5 characters</div>
              <div [hidden]="!testcaseForm.controls['testcaseTitle'].errors.maxlength">a title should contain maximum 25 characters</div>
              <div [hidden]="!testcaseForm.controls['testcaseTitle'].errors.pattern">a title should contain alphabetic or numeric characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="testcaseDescription">description</label>
          <input formControlName="testcaseDescription" type="text" class="form-control" id="testcaseDescription" name="testcaseDescription" aria-describedby="descriptionHelp" placeholder="Enter a test case description">
          <small id="descriptionHelp" class="form-text text-muted">Meaningful test case description.</small>
        </div>
        <div id="stepsArea" class="form-group">
            <div>
              <h4>Steps</h4>
              <div class="form-group">
                <div formArrayName="steps" *ngFor="let step of testcaseForm.controls['steps'].controls; let i = index">
                  <div [formGroupName]="i" class="step">
                    <div class="stepDetails">
                      <label for="name">Name</label>
                      <input formControlName='name' class="form-control">
                      <div *ngIf="testcaseForm.controls['steps'].controls[i].controls['name'].errors && !testcaseForm.controls['steps'].controls[i].controls['name'].pristine" class="error-msg">
                          <div [hidden]="!testcaseForm.controls['steps'].controls[i].controls['name'].errors.required">a name is required</div>
                      </div>
                      <label for="description">Description</label>
                      <input formControlName='description' class="form-control">
                    </div>
                    <div class="stepControls">
                        <div>
                          <div class="trash icon" (click)="deleteStep(i)"></div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" (click)="addItem()" type="submit" class="btn btn-primary">Add Step</button>
              <div class="separator"></div>
            </div>
        </div>
        <button (click)="submitTestcase()" [disabled]="testcaseForm.invalid" type="submit" class="btn btn-primary">{{buttonLabel}}</button>
        <button (click)="cancel()" type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="area=='progress'">
    <app-loader></app-loader>
</ng-container>