<div class="search-container">
    <div class="row">
        <div class="search-list-head">
          <input class="form-control" type="text" name="search" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search for a test case id or title">
        </div>
          <div class="search-list-body">
            <table class="table">     
                <thead>
                  <tr>
                    <th (click)="testcaseSort('id')">id
                        <span class="glyphicon sort-icon" *ngIf="testcaseKey =='id'" [ngClass]="{'glyphicon-chevron-up':listReverse,'glyphicon-chevron-down':!listReverse}"></span>
                    </th>
                    <th (click)="testcaseSort('title')">title
                        <span class="glyphicon sort-icon" *ngIf="testcaseKey =='title'" [ngClass]="{'glyphicon-chevron-up':listReverse,'glyphicon-chevron-down':!listReverse}"></span>
                    </th>              
                  </tr>
                </thead>               
                <tbody>              
                    <tr *ngFor="let testcase of testcases | orderBy: testcaseKey : listReverse | filterBy: testcaseFilter | paginate: { itemsPerPage: 15, currentPage: listPage }; let i = index">
                      <td><a routerLink='../testcase/{{testcase.projectId}}-{{testcase.id}}'>{{testcase.projectId}}-{{testcase.id}}</a></td>
                      <td>{{testcase.title}}</td>
                    </tr>
                    <tr *ngIf="(reloadedList$ && testcases.length === 0)">No matching test case</tr>
                    <tr *ngIf="(!reloadedList$ && testcases==undefined)"><app-loader></app-loader></tr>                    
                </tbody>
                <tfoot></tfoot>                         
            </table>
          </div>
          <div class="search-list-control">
              <pagination-controls (pageChange)="listPage = $event"></pagination-controls> 
          </div> 
    </div>
  </div>
