/*****************************************
    every editform identified by id="editform"
******************************************/
.formcontainer {
    //center
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabslistcontainer ul{
    background-color: red
}