<div id="mainform">
  <div class="row">
    <div id="projectImg">
      <div>
        <img src="assets/projects/project.svg" alt="" width="72" height="72">
      </div>
    </div>
  </div>
  <div id="projectTitle" class="row">
    <h2>New project</h2>
  </div>
</div>
<div class="row">
  <div id="createform" class="col-md-8 order-md-1">
    <form [formGroup]="projectForm" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="name">ID</label>
          <input formControlName="projectId" type="text" class="form-control" id="id" placeholder="project ID" value="">
          <div *ngIf="projectForm.controls['projectId'].errors && !projectForm.controls['projectId'].pristine" class="error-msg">
            <div [hidden]="!projectForm.controls['projectId'].errors.required">a project ID is required</div>
            <div [hidden]="!projectForm.controls['projectId'].errors.minlength">a project ID should contain 5 characters</div>
            <div [hidden]="!projectForm.controls['projectId'].errors.maxlength">a project ID should contain 5 characters</div>
            <div [hidden]="!projectForm.controls['projectId'].errors.pattern">a project ID should contain alphabetic or numeric characters</div>
          </div>
        </div>
        <div class="col-md-7 mb-3">
          <label for="name">Name</label>
          <input formControlName="projectName" type="text" class="form-control" id="name" placeholder="project name" value="">
          <div *ngIf="projectForm.controls['projectName'].errors && !projectForm.controls['projectId'].pristine" class="error-msg">
            <div [hidden]="!projectForm.controls['projectName'].errors.required">a project name is required</div>
            <div [hidden]="!projectForm.controls['projectName'].errors.minlength">a project name should contain 5 characters</div>
            <div [hidden]="!projectForm.controls['projectName'].errors.maxlength">a project name should contain 40 characters</div>
            <div [hidden]="!projectForm.controls['projectName'].errors.pattern">a project name should contain alphabetic or numeric characters</div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description">Logo</label>
        <div class="custom-file">
          <input formControlName="projectLogoFile" type="file" class="custom-file-input" id="importFile" (change)="onFileChange($event.target.files)">
          <label class="custom-file-label" #labelImport for="projectLogoFile"><i class="fas fa-search"></i> Choose image file</label>
          <div *ngIf="projectForm.controls['projectLogoFile'].errors && !projectForm.controls['projectLogoFile'].pristine" class="error-msg">
            <div [hidden]="!projectForm.controls['projectId'].errors.required">a project logo is required</div>
          </div>
        </div>    
        <div class="form-group">
          <button class="btn btn-outline-secondary" type="button" (click)="import()"><i class="fas fa-file-import"></i> Importer</button>
        </div>
      </div>

      <div class="mb-3">
          <label for="description">Description <span class="text-muted">(Optional)</span></label>
          <textarea formControlName="projectDescription" type="text" class="form-control" id="description" placeholder="project description"></textarea>
      </div>
      <hr class="mb-4">
      <div id="formButtons" class="row">
        <div class="col-md-1 mb-1">
          <button (click)="create()" [disabled]="projectForm.invalid" class="btn btn-secondary" type="submit">create</button>
        </div>
        <div class="col-md-1 mb-1">
          <button (click)="cancel()" class="btn btn-secondary" type="submit">cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>