<ng-container *ngIf="area=='form'">
  <form [formGroup]="projectForm">
    <div class="form-group row">
      <div>
        <h3>{{projectFormLabel }}</h3>
        <div *ngIf="currentProject==null || currentProject.id==undefined">
          <div class="form-group">
            <label for="projectId">Project id</label>
            <input formControlName="projectId" type="text" class="form-control" id="projectId" name="projectId" aria-describedby="titleHelp" placeholder="Enter a project id">
            <small id="idHelp" class="form-text text-muted">The project name must be 5 characters long, can contain letters and numbers, but no spaces.</small>
            <div *ngIf="projectForm.controls['projectId'].errors && !projectForm.controls['projectId'].pristine" class="error-msg">
                <div [hidden]="!projectForm.controls['projectId'].errors.required">a project id is required</div>
                <div [hidden]="!projectForm.controls['projectId'].errors.pattern">a project id should contain alphabetic or numeric characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="projectName">Name</label>
          <input formControlName="projectName" type="text" class="form-control" id="projectName" name="projectName" aria-describedby="titleHelp" placeholder="Enter a project name">
          <small id="nameHelp" class="form-text text-muted">The test case name must be 8-20 characters long, and can contain letters, numbers, and spaces, but must not contain special characters, or emoji.</small>
          <div *ngIf="projectForm.controls['projectName'].errors && !projectForm.controls['projectName'].pristine" class="error-msg">
              <div [hidden]="!projectForm.controls['projectName'].errors.required">a title is required</div>
              <div [hidden]="!projectForm.controls['projectName'].errors.minlength">a title should contain minimum 5 characters</div>
              <div [hidden]="!projectForm.controls['projectName'].errors.maxlength">a title should contain maximum 25 characters</div>
              <div [hidden]="!projectForm.controls['projectName'].errors.pattern">a title should contain alphabetic or numeric characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="projectDescription">description</label>
          <input formControlName="projectDescription" type="text" class="form-control" id="projectDescription" name="projectDescription" aria-describedby="descriptionHelp" placeholder="Enter a test case description">
          <small id="descriptionHelp" class="form-text text-muted">Meaningful test case description.</small>
        </div>
        <button (click)="submitProject()" [disabled]="projectForm.invalid" type="submit" class="btn btn-primary">{{buttonLabel}}</button>
        <button (click)="cancel()" type="submit" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="area=='progress'">
    <app-loader></app-loader>
</ng-container>