/************************************
* Testcase
*************************************/
/*
* Testcase Tab panel menu
*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #28a745;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #28a745;
}



/*************************************
*          Top menu
**************************************/
.bg-light {
    background-color: #4c5163!important;
}
.navbar {
    border-radius: 0px;
}
.nav-link {
    display: inline;
}
.navbar .row {
    display: inline;
}
/*
* Top menu items 
*/
/* item switch to white color when selected */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffff;
}
/* item switch back to grey color when unselected */
.navbar-light .navbar-nav .nav-link {
    color: #959cad;
}
/* on mouse over event, item title text color should be white */
.navbar-light .navbar-nav .nav-link:hover{
    color: #ffff;
}
/* each item should have: grey border at the right side, a min-width, centered text*/
.navbar-light .navbar-nav li { 
    min-width: 150px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #959cad;
    text-decoration: none;
    font-weight: 700;
    font-family: Helvetica,Arial,sans-serif;

    margin: auto;
    width: 50%;
    padding: 10px;
}
.nav-item{
    max-height: 50px;
}

/* the last item should not have a border*/
.navbar-light .navbar-nav > li:first-of-type {
    border-right: 1.5px solid #575e6e;
}

/* Reference item (left corner)*/
#reference a{
    font-size: 18px;
    text-decoration: none;
    color: #5698af;
    font-family: Arial,sans-serif;
}
#reference a span{
    font-size: 14px;
    font-weight: 500;
}
.headerApiSwitchDescription {
    color: #959cad;
    margin: auto;
    width: 50%;
    padding: 10px;
}



/*******************************
*          Settings
********************************/
/*
*  Button
*/
/* settings button color when unselected */
.btn-primary {
    color: #fff;
    background-color: #204d74;
    border-color: #2e6da4;
}
/* settings button color when selected */
.btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

/*
*  Settings Dropdown list
*/
/* list should drop on right side (not on the right side)*/
#settings-dropdown {
    left: -100px;
    right: 0px;
    top: 100%;
    transform: translateY(0px);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.05),rgba(0,0,0,.2));
}

#settings-dropdown li{ 
    padding-right: 2px;
    padding-left: 2px;
}
#settings-dropdown li a{ 
    border-bottom: 1px solid #eee;
}
#settings-dropdown li:last-of-type a{
    border-bottom: none;
}

/*
*  Settings Dropdown list
*/
/* list should drop on right side (not on the right side)*/
#testcase-dropdown {
    left: 0px;
    right: 0px;
    top: 100%;
    background-color: #4c5163!important;;
    max-width: 300px;
    border-top-width: 0px;
}

#testcase-dropdown li{ 
    padding-right: 2px;
    padding-left: 2px;
}

#project-dropdown {
    left: 0px;
    right: 0px;
    top: 100%;
    background-color: #4c5163!important;;
    max-width: 300px;
    border-top-width: 0px;
}

#project-dropdown li{ 
    padding-right: 2px;
    padding-left: 2px;
}
