
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <p>TCM</p>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li id="navbar-testcase" class="nav-item">
        <a routerLink="testcases" routerLinkActive="active" class="nav-link" href="#">Testcases</a>
      </li>
      <span style="color: white; margin: auto">•</span>
      <li id="navbar-project" class="nav-item">
        <a routerLink="projects" routerLinkActive="active" class="nav-link" href="#">Projects</a>
      </li>
    </ul>
  </div>
</nav>